{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% bootstrap_css %}
{% endblock extra_css %}

{% block extra_js %}
{% bootstrap_javascript %}
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
{% endblock extra_js %}

{% block content %}

{% block header %}
{% include "header.html" %}
{% endblock header %}

{% block main %}
<div class="bg-body-tertiary">
  <div class="container py-5">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
  </div>
</div>
<div class="container mt-2">
  <div class="row">
    {% for child in child_pages %}
    <div class="col-md-4 px-1 py-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{ child.title }}</h2>
          <p class="card-text ">
            <a href="/{{ page.category.identify }}{{ child.url }}" style="text-decoration:none;" class="text-dark stretched-link">
              {{ child.description }}
            </a>
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}

{% endblock content %}
